// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// JQueryui
@import "~jqueryui/jquery-ui.min.css";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

fieldset {
    width: 70%;
    padding: 30px;
}

.event-menu {
    list-style-type: none;
    li {
        display: inline;
        padding: 7px;
    }
}
